{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'css/profile.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'css/toastr.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/toastr.min.css' %}">
</head>
<script src="{% static 'js/jquery-3.3.1.js'%}"></script>
<script src="{% static 'js/toastr.min.js'%}"></script>

{% for message in messages %}
    {% if message.tags == 'error' %}
        <script type="text/javascript">
            toastr.{{ message.tags }}('{{ message }}');
        </script>
    {% endif %}
{% endfor %}

{% block content %}
<form method = "POST">
    {% csrf_token %}
    <div class="card w-75 mt-2">
    <div class="card-body">
        {{ form|crispy }}
    </div>
<input type="submit" class='btn btn-success' value="Update password">
</form>
{% endblock %}